@page "/companypolicies"
@attribute [Authorize]

@using DocumentStore.Components
@using DocumentStore.Enums

<h1>Company Policies</h1>

<Section SectionName="Sections.CompanyPolicies"></Section>