@page "/employeehandbooks"
@attribute [Authorize]

@using DocumentStore.Components
@using DocumentStore.Enums

<h1>Employee Handbooks</h1>

<Section SectionName="Sections.EmployeeHandbooks"></Section>