@page "/legaldocumentation"
@attribute [Authorize]

@using DocumentStore.Components
@using DocumentStore.Enums

<h1>Legal Documentation</h1>

<Section SectionName="Sections.LegalDocumentation"></Section>