@page "/systemguidelines"
@attribute [Authorize]

@using DocumentStore.Components
@using DocumentStore.Enums

<h1>System Guidelines</h1>

<Section SectionName="Sections.SystemGuidelines"></Section>