.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 0 auto;
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }
}
